.new-post {
    padding: 20px 0;
    border-bottom: 3px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 30px;
}

.posts .post {
    padding-left: 60px;
    border-left: 3px solid #117a8b;
    margin-bottom: 30px;
}
.posts .post .info {
    color: #aaa;
    font-style: italic;
}

body {
    background-color: powderblue;
}

